bot:
  application_id: "108......6016"
  token: "MTA...................BbB-Y"
guild:
  id: "793741707601903618"
  name: "Axis Mirage Raceway"
  manager_role: "Warlord"
  bet_amount: 200 # the bids and wallet amounts must be a multiple of this number
